a[data-note-link-referrer-id] {
  cursor: pointer;
}

.note-link-referrers-list-count,
.note-link-element-referrers-icon,
.note-link-element-referrer-count {
  font-family: monospace;
  background-color: rgb(233, 233, 233);
  color: rgb(145, 145, 145);
  padding: 0.2em 0.3em;
  border-radius: 0.4em;
  vertical-align: middle;
}

.note-link-referrers-list-count,
.note-link-element-referrer-count {
  margin-left: 0.3em;
  font-size: 0.8em;
}

.note-link-element-referrers-icon {
  white-space: nowrap;
  cursor: pointer;
  margin-left: 0.5em;
  font-size: 0.8em;
  font-weight: normal;
}

h1 > .note-link-element-referrers-icon,
h2 > .note-link-element-referrers-icon,
h3 > .note-link-element-referrers-icon,
h4 > .note-link-element-referrers-icon,
h5 > .note-link-element-referrers-icon,
h6 > .note-link-element-referrers-icon {
  font-size: 0.6em;
}

.note-link-element-referrers-icon > svg {
  height: 1em;
  vertical-align: text-top;
  margin-left: 0.3em;
}

.note-link-element-referrers-list {
  width: 200px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px 10px 10px 30px;
  margin: 0;
}

.note-link-element-referrers-list > li {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
}

.note-link-identifier {
  cursor: pointer;
  vertical-align: bottom;
  opacity: 0.4;
  padding: 0;
  border: none;
  font-size: inherit;
  height: 1em;
  vertical-align: middle;
  background-color: transparent;
  display: inline-block;
}

.note-link-identifier svg {
  height: 100%;
}

.note-link-identifier:active {
  transform: translate(1px, -1px);
  transition-duration: 0.2s;
}

h1 > .note-link-identifier,
h2 > .note-link-identifier,
h3 > .note-link-identifier,
h4 > .note-link-identifier,
h5 > .note-link-identifier,
h6 > .note-link-identifier {
  display: none;
}

h1:hover > .note-link-identifier,
h2:hover > .note-link-identifier,
h3:hover > .note-link-identifier,
h4:hover > .note-link-identifier,
h5:hover > .note-link-identifier,
h6:hover > .note-link-identifier {
  display: inline-block;
}

.note-link-identifier-parent {
  outline: 1px dashed gray;
}

h1.note-link-identifier-parent,
h2.note-link-identifier-parent,
h3.note-link-identifier-parent,
h4.note-link-identifier-parent,
h5.note-link-identifier-parent,
h6.note-link-identifier-parent {
  outline: none;
}

.note-link-overflow-anchor-none {
  overflow-anchor: none; /* prevent inserted content from scrolling out our reference anchor */
}

.note-link-mark-main .bi {
  height: 1em;
  width: 1em;
}

.note-link-reference {
  white-space: pre-line;
  color: rgb(145, 145, 145);
}

.note-link-mark,
.note-link-mark-main {
  background: transparent;
  font-family: initial;
  font-weight: bold;
  color: inherit;
}

.note-link-mark-main {
  color: #000;
}

.note-link-mark-main > button {
  border: none;
  background: transparent;
  cursor: pointer;
}

#note-link-scroll-anchor {
  background-color: yellow;
}

.note-link-previewer {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
}

.note-link-previewer-local {
  width: 400px;
  max-width: 90vw;
}

.note-link-previewer-local-title {
  margin: 0;
  font-size: 14px;
  font-style: italic;
  color: rgb(145, 145, 145);
}

.note-link-previewer-local-body {
  overflow: auto;
  height: 300px;
}

.note-link-previewer-remote {
  max-width: 960px;
  width: 90vw;
}

.note-link-previewer-remote > iframe {
  border: 0;
  width: 100%;
  height: 500px;
  max-height: 80vh;
}
