#root {
  font-family: var(--joplin-font-family);
  background-color: var(--joplin-background-color);
  padding: 5px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

h1 {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  color: var(--joplin-color);
}

ol {
  padding: 0;
}

.referrer-list {
  overflow: auto;
  flex-grow: 1;
  padding: 0;
}

li {
  list-style: none;
  margin: 1em 0;
}

.title-container {
  cursor: pointer;
}

.referrer-title[data-is-self]::before {
  content: 'LOCAL';
  border: solid 1px #b7eb8f;
  background: #f6ffed;
  color: #389e0d;
  margin-right: 0.5em;
  line-height: 1.1;
  padding: 0 7px;
}

.referrer-title:hover {
  text-decoration: underline;
}

.referrer-title[data-is-self]:hover {
  text-decoration: none;
  cursor: auto;
}

.count {
  margin-left: 3px;
  font-family: monospace;
  background-color: rgb(233, 233, 233);
  color: rgb(145, 145, 145);
  padding: 0.1em 0.3em;
  border-radius: 0.4em;
  vertical-align: middle;
}

.reference-item {
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid rgb(94, 94, 94);
}

.reference-item:last-child {
  border-bottom: none;
}

.reference {
  display: block;
  color: rgb(145, 145, 145);
  cursor: pointer;
  white-space: pre-line;
  word-break: break-all;
}

.reference[data-is-self] {
  cursor: auto;
}

.reference > mark {
  color: inherit;
  background: transparent;
  font-style: italic;
  font-weight: bold;
}

mark > button {
  vertical-align: top;
  background: transparent;
  border: none;
  cursor: pointer;
}

.reference > .note-link-mark-main {
  color: #000;
}

.no-referrers {
  color: rgb(145, 145, 145);
}

.note-link-mark-main .bi {
  height: 1em;
  width: 1em;
}
