#root {
  font-family: var(--joplin-font-family);
  min-height: calc(100vh - 1em);
  background-color: var(--joplin-background-color);
  padding: 5px;
}

h1 {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  color: var(--joplin-color);
}

ol {
  padding: 0;
}

li {
  list-style: none;
  margin: 1em 0;
  white-space: pre-line;
}

.title {
  cursor: pointer;
}

.title:hover {
  text-decoration: underline;
}

.count {
  margin-left: 3px;
  font-family: monospace;
  background-color: rgb(233, 233, 233);
  color: rgb(145, 145, 145);
  padding: 0.1em 0.3em;
  border-radius: 0.4em;
  vertical-align: middle;
}

.no-referrers {
  color: rgb(145, 145, 145);
}
